<div class="card">
    <div class="card-body">
        <h5 class="titulo">Listar Tarjeta</h5>

        <table class="table">
            <tbody>
                <tr>
                    <td>
                        Tomas
                    </td>
                    <td>
                        1412343431
                    </td>
                    <td>
                        14/12
                    </td>
                    <td>
                        <i class="far fa-edit text-info"></i>
                        <i class="far fa-trash-alt text-danger"></i>
                    </td>                    
                </tr>

                <tr>
                    <td>
                        Paco
                    </td>
                    <td>
                        425452454251
                    </td>
                    <td>
                        13/12
                    </td>
                    <td>
                        <i class="far fa-edit text-info"></i>
                        <i class="far fa-trash-alt text-danger"></i>
                    </td>                    
                </tr>
            </tbody>
        </table>

    </div>
</div>

